/****** General ***********/
* 
{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}



/*Header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 25px;
}

header nav {
    width: 300px;
}

 header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
}

header li{
    width: 50%;
    text-align: center;
    padding-top: 20px;
    border-top: 3px solid transparent;
}

a{
    text-decoration: none;
    color: black;
    
}

header li:hover {
    border-top: 3px solid var(--main-color);
}

header li:hover a{
    color: var(--main-color);
}


/****** Search Bar ***********/



.map {
    display: flex;
    margin-top: 40px;
}

.localisation-search{
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    height: 49px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 115%;
}

input{
   width: 195px;
   height: 50px;
}

.search-bar input::placeholder{
    color: black;
    padding-left: 20px; 
    font-size: 18px;
    font-weight: 700;
}

button {
    border-radius: 0 10px 10px 0;
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    background-color: #0065fc;
  }

h1{
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 22px;
}  

.search-bar h2{
    font-size: 16px;
    font-weight: 400;
}



/****** Filtres ***********/

.filters-section{
    display: flex;
    margin: 40px 0 0 6px;
}

.filters-icon{
    display: flex;
}

.filters{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 1px 19px 1px 19px;
    border: #d9d9d9 2px solid;
    border-radius: 30px;
    margin-right: 15px;
    margin-left: 15px;

}

.filters:hover{
    background-color: #DEEBFF;
}

.filters p{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 700;
    white-space: nowrap;
}

.filters h3{
    font-size: 18px;
    font-weight: 700px;
}

/****** Infos ***********/

.info{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

 .countainer-info p{
    margin-left: 10px;
    font-size: 16px;
    color: black
}

.logo-info{
    border: #d9d9d9 solid 1px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}




/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
    
}

.hebergements-title{
    display: flex;
    justify-content: space-between;
   
}

.hebergements-cards .card{
    margin-top: 33px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    width:30%;
}

.hebergements-cards{
    /* width: 250px; */
    display:flex;
    flex-wrap: wrap;
    /* gap:20px; */
    justify-content: space-around;
    height: auto;
}

.hebergements-cards .card-txt{
    margin-left: 15px;
}

.hebergements-cards .card-title{
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle{
    margin: 0;
   
}

.hebergements-cards .card-rating{
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.bloc1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bloc2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .afficher{
    margin-top: 5%;
    font-size: 18px;
    font-weight: 700;
  }

  

  /****** Activités ***********/

.activity-section h2 {
    margin-left: 30px;
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 22px;
}

.activity-section .bloc-card{
    display: flex;
    justify-content: space-evenly;
    gap: 2%;
  }

  .activity-section .border-activity{
    flex:1;
    height: 360px;
    cursor: pointer;
  }

  

  .activity-section img{
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0 0;
    max-width: 100%;
    OBJECT-FIT: cover;
    
  }


.border-activity{
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.062);
    max-height: 535px;
    padding-bottom: 20px;
  } 


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    cursor: pointer;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Footer ***********/

footer{
    width: 100%;
    /* height: 163px; */
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    margin-top: 40px;
    
  }
  
  .section-footer{
    flex: 1;
    margin-left: 40px;
  }
  
   footer p{
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
    padding-left: 0;
  }
  footer a{
    line-height: 30px;
    color: rgb(59, 59, 59);
  }

  footer ul{
    list-style-type: none;
    padding-left: 0;
  }


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters-section{
        flex-direction: column;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    

    .filters{
        margin-left:0px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

/****** HEADER ******/
body{
    border:1px red solid;
    margin:auto;
}

    .main-container {
        padding: 0px;        
    }

    .header-container{
    /* display: flex; */
    flex-direction: column;
    margin-top:20px;
    }


    .header-container nav{
        width:100%;
        padding: 0px;  
        
        }

    .header-container ul{
        gap:0px;
        padding:0;
        
    }

    .border-activity{
        margin-bottom: 40px;
      }
      
      .filters {        
        width:46%;
      }

      .filters p {        
       font-size: 12px;;
      }

      .populaires-cards .card, .hebergements-cards .card {
        width: 100%;
      }

      .search-bar, .filters-section ,.countainer-info{
        padding: 0 30px;
      }
      

    .logo{
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    li {
        flex: auto;
        width: 100%;
        justify-content: space-around;
        border-bottom: 4px solid #F2F2F2;
        padding-bottom: 20px;
    }

        header li:hover {
            border-bottom: 3px solid var(--main-color);
            border-top: none;
        }

    /****** SEARCH ******/

    .search{
        display: none;
    }



      .button-mobile{
        background-color: #0065FC;
        border: none;
        border-radius: 18px;
        padding-left: 19px;
        padding-right: 19px;
        position: relative;
        right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 115%;
      }
    
      .button-mobile :hover{
        border: 1px solid #DEEBFF;
        cursor: pointer;
      }

      /****** FILTERS ******/

      .filters-section{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;
      }

      .filters-icon{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 16px;
      }

      .filters-section h3{
        margin-bottom: 20px;
      }

      .filters{
        margin-bottom: 20px;
      }

      /****** INFOS ******/

      .info{
        margin-top: 0px;
      }

      .countainer-info p{
            font-size: 15px;
            padding-left: 3px;
            padding-right: 3px;
      }

      /****** Partie hébergements et populaires ******/

      .hebergements-and-populaires{
        display: flex;
        flex-direction: column-reverse;
        padding : 0px;
      }

      .hebergements-and-populaires section{
        background-color: transparent;
      }

     

      .hebergements{
        width: 100%;
        padding-top: 40px;
        padding-left: 2%;
        padding-right: 2%;
      }

      .hebergements-cards{
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 20px;
      }

      .card-content{
        width: 100%;
        margin-top: 6px;
      }

     .afficher{
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 30px;
        height: 0px; 
     }

     .populaires{
        width: 100%;
        border-radius: 0px;
        margin-left: 0px;
        padding-top: 40px;
        padding-left: 2%;
        padding-right: 2%;
     }

     .populaires-cards{
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 20px;
     }

     .card-content{
        margin-top: 6px;
        margin-bottom: 6px;
     }

     .activity-section{
        padding: 0px;
        margin-top: 65px;
     }

     .bloc-card{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        margin-top: 30px;
        height: 100%;
        padding-left: 25px;
        padding-right: 25px;
     }

     footer{
        
            flex-direction: column;
            margin-top: 28px;
     }

     .section-footer{
        width: 100%
        
     }

   

}

